
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Staatliches&display=swap');

*{box-sizing: border-box;}

:root {
  --accent1: #FFB22C;
  --accent2: #EFBF04;
  --accent3: #FFDE4D;
  --accent4: #F3FEB8;
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    color: var(--accent2);
}
.menu a:hover,
.menu a.active{
    color: var(--accent3);
}
footer a{
    color: var(--accent4);
}
footer a:hover{
    color: var(--accent3);
}
footer a::after{
    background-color: var(--accent3);
}

main{
    height: 100%;
    width: 100%;
    background: url(../images/FU1.jpg) center 125px/cover no-repeat fixed;
}

footer{
    margin: 0;
}

.background{
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        background: rgba(0, 0, 0, 0.65);
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: 7vw;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.overlay{
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    height: fit-content;
    padding: 4% 1%;
    text-align: center;
    z-index: 5;
    img{
        width: 30vw;
    }
}

.content{
    background: #000000;
    padding: 3% 10vw;
    text-align: center;
    position: relative;
    h3{
        color: var(--accent1);
        font-size: 3vw;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    p{
        color: #faffd9;
        font-size: 1.5vw;
        font-family: "Host Grotesk", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    button{
        position: absolute;
        bottom: 10px;
        right: 2vw;
        padding: 10px 20px;
        font-size: 1.3vw;
        background-color: black;
        border: var(--accent4) solid 2px;
        color: var(--accent4);
        opacity: 0.5;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: "Host Grotesk", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    button:hover {
        opacity: 1;
        transform: scale(1.1) translateY(-3px);
    }
}

@media screen and (max-width: 800px){
    main{
        background-position: center 51px;
    }

    .background{
        height: 90vh;
        h1{font-size: 10vw;}
    }
    .overlay{
        padding: 12% 1%;
        img{width: 80vw;}
    }

    .content{
        padding: 5% 10vw;
        h3{font-size: 10vw;}
        p{font-size: 4vw;}
        button{
            font-size: 4vw; 
            opacity: 0.8;}
    }

    
}